/***********************************/
/*** CSS rules for about section ***/
/***********************************/


/***** Fonts ****/
/*** Libre Baskerville **/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/*** Roboto ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.about {
    padding: 50px 0;
    font-family: 'Libre Baskerville', serif;
    background-color: #d3d3d3;
}

.about-box {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.ident {
    position: relative;
    flex-basis: 10%;
}

.ident span{
    display: inline-block;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #000;
    font-size: 2em;
    color: #fff;
}

.ident p {
    margin-left: 15px;
    font-size: 40px;
    line-height: 45px;
}

.content-about {
    flex-basis: 85%;
    margin: 0 auto;
}

.title-section {
    margin-bottom: 15px;
    border-bottom: 3px solid goldenrod;
    font-size: 3em;
}

.title-section::first-letter {
    font-size: 1.5em;
    color: rgba(0,0,0,0.5);
}

.content-about p {
    font-style: italic;
    line-height: 50px;
}

.value-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.value {
    flex-basis: 250px;
    height: 250px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}

.value:hover {
    transform: translateY(-10px);
    transition: 0.5s ;
}


.value h3{
    margin-bottom: 15px;
    font-size: 2em;
}

.value p {
    font-style: italic;
    line-height: 40px;
}

.vl1 {
    position: relative;
}

.vl1::after {
    content: "1";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 250px;
    line-height: 250px;
    color: rgba(255,255,255,0.3);
    opacity: 0.5;
}

.vl2 {
    position: relative;
}

.vl2::after {
    content: "2";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 250px;
    line-height: 250px;
    color: rgba(255,255,255,0.3);
    opacity: 0.5;
}

.vl3 {
    position: relative;
}

.vl3::after {
    content: "3";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 250px;
    line-height: 250px;
    color: rgba(255,255,255,0.3);
    opacity: 0.5;
}

.vl4 {
    position: relative;
}

.vl4::after {
    content: "4";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 250px;
    line-height: 250px;
    color: rgba(255,255,255,0.3);
    opacity: 0.5;
}

.vl5 {
    position: relative;
}

.vl5::after {
    content: "5";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 250px;
    line-height: 250px;
    color: rgba(255,255,255,0.3);
    opacity: 0.5;
}

.value:hover.vl1::after,
.value:hover.vl2::after,
.value:hover.vl3::after,
.value:hover.vl4::after,
.value:hover.vl5::after {
    color: #daa520;
}

@media screen and (max-width: 768px){
    .value-box {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 576px){
    .ident {
        display: flex;
        flex-basis: 85%;
        margin-bottom: 50px;
    }

    .ident p{
        margin-left: 0;
        padding-top: 10px;
    }

    .ident span{
        margin-right: 10px;
    }
}