@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,100&family=Libre+Baskerville:ital@1&family=Roboto:wght@300&display=swap');

@keyframes arrow1{
    from {transform: translateX(-1000px);}
    to {transfor: translateX(0);}
}

@keyframes arrow2{
    from {transform: translateX(-1000px);}
    to {transform: translateX(30px);}
}

@keyframes arrow3{
    from {transform: translateX(-1000px);}
    to {transform: translateX(80px);}
}

@keyframes arrow4{
    from {transform: translateX(-1000px);}
    to {transform: translateX(150px);}
}

@keyframes arrow5{
    from {transform: translateX(-1000px);}
    to {transform: translateX(230px);}
}

@keyframes arrow6{
    from {transform: translateX(-1000px);}
    to {transform: translateX(350px);}
}

.principal-header {
    font-family: 'Libre Baskerville', serif;
    width: 100%;
    margin:0 auto;
    height: 433px;
    background-color: #000000;
}

.arrows {
    position: absolute;
    top: 118px;
    left: 920px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;   
}

.tr1 {
    border-left: 50px solid #daa520;
    animation: arrow1 1s linear forwards;
}

.tr2 {
    border-left: 50px solid #daa520;
    animation: arrow2 1s linear forwards;
    animation-delay: 0.3s;
}

.tr3 {
    border-left: 50px solid #daa520;
    animation: arrow3 1s linear forwards;
    animation-delay: 0.6s;
}

.tr4 {
    border-left: 50px solid #daa520;
    animation: arrow4 1s linear forwards;
    animation-delay: 0.9s;
}

.tr5 {
    border-left: 50px solid #daa520;
    animation: arrow5 1s linear forwards;
    animation-delay: 1.2s;
}

.tr6 {
    border-left: 50px solid #daa520;
    animation: arrow6 1s linear forwards;
    animation-delay: 1.5s;
}

.header-box {
    position: relative;
    overflow: hidden;
    height: 383px;
    border: none;
}

.capa {
    width: 100%;
    height: 433px;
    max-width: 577px;
    min-width: 320px;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 3;
} 

.capa img{
    height: 433px;
    filter: grayscale(100%);
}

.principal-nav {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    height: 50px;
    border: none;
    background-color: #000000;
    z-index: 3;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    list-style: none;
    padding-right: 4%;
    transition: 0.5s;
}

.brand {
    margin-right: auto;
    z-index: 4;
    margin-left: 20px;
}
.nav-item {
    padding: 0 15px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5px;
    display:inline-block;
    letter-spacing: 2px;
    font-size: 0.9em;
    position: relative;
    z-index: 10;
}

.nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: goldenrod;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.nav-link:hover::after {
    width: 100%;
    transition: 0.5s;
}

.content-header {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index:3;
    color: #ffffff;
    height: 383px;
    width: 50%;
    max-width: 380px;
    min-width: 280px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 3em;

}

.content-header .destack {
    color: #daa520;
    font-weight: 900;
}

.header-description {
    font-size: 0.4em;
    font-style: italic;
    line-height: 2em;
    margin-top: 30px;
    color: #ffffff;
}

.menuBtn {
    display: none;
    width: 40px;
    height: 40px;
    background-color: #daa520;
    border-radius: 3px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.menuBtn img {
    width: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
}

@media screen and (max-width: 768px){
   
    .menuBtn {
        display: block;
    }

    .content-header {
        margin-top: -5px;
    }

    .navbar {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        width: 200px;
        background-color: goldenrod;
        z-index: 50;
        position: fixed;
        top: 0;
        right: 0;
    }

    .brand {
        display: none;
    }
}