/***************************************/
/*** CSS rules for portfolio section ***/
/***************************************/


.portfolio {
    padding: 50px 0;
    background-color: #000;
    font-family: 'Libre Baskerville', serif;
    color: #fff;
}

.port-id span{
    display: inline-block;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #fff;
    font-size: 2em;
    color: #000;   
}

.t-port::first-letter {
    font-size: 1.5em;  
    color: rgba(255,255,255,0.5); 
}

.job-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.job {
    position: relative;
    flex-basis: 45%;
    height: 300px;
    margin-top: 20px;
    filter: grayscale(100%);
}

.job1 {
    background: url("../Assets/Img/barbershop2.png")  center no-repeat;
    background-size: cover;
} 

.job2 {
    background: url("../Assets/Img/devcar2.png") center no-repeat;
    background-size: cover;
} 

.job3 {
    background: url("../Assets/Img/spotify-2.png") center no-repeat;
    background-size: cover;
} 

.job4 {
    background: url("../Assets/Img/Finans2.png") center no-repeat;
    background-size: cover;
} 

.job-desc {
    display: flex;
    align-items: flex-end;
    justify-content:center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    transition: 0.5s;
    overflow: hidden;
}

.job-desc a {
    width: 130px;
    margin: 10px;
    padding: 10px 15px;
    background-color: #daa520;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    color: #fff;
    opacity: 0;
    transform: translateY(200%);
    transition: 0.5s;
}

.job-desc a:hover {
    background-color: #ffffff;
    color: #daa520;
}

.job1:hover, .job1:hover .job-desc a,
.job2:hover, .job2:hover .job-desc a,
.job3:hover, .job3:hover .job-desc a,
.job4:hover, .job4:hover .job-desc a {
    filter: none;
    transform: translateY(0);
    opacity: 1;
    transition:0.7s all ease;
}

@media screen and (max-width: 768px){
    .job {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 576px){
    .job {
        height: 200px;
    }
}